In [11]:
import pandas as pd

from chocolate import SQLiteConnection

conn = SQLiteConnection("sqlite:///second_try_XGBoost.db")
results = conn.results_as_dataframe()
results.groupby(['id']).mean().sort_values("_loss")

       _loss  learning_rate  max_depth  n_estimators
id
4   0.000003           0.12         11           450
0   0.000003           0.10         13           150
2   0.000004           0.20          3           400
5   0.000006           0.58         19           250
3   0.000006           0.70         11           400
1   0.000009           0.92          5            50

In [12]:
conn = SQLiteConnection("sqlite:///nonlinear_first.db")
results = conn.results_as_dataframe()
results.groupby(['id']).mean().sort_values("_loss")

,C,_loss,algo,coef0,degree,gamma,learning_rate,max_depth,n_estimators
id,,,,,,,,,
19,NaN,0.000094,2,NaN,NaN,NaN,0.01,3.0,450.0
1,NaN,0.000146,2,NaN,NaN,NaN,0.57,19.0,100.0
4,3.023431e+02,0.000146,0,NaN,NaN,2.476214e-02,NaN,NaN,NaN
15,NaN,0.000243,2,NaN,NaN,NaN,0.99,10.0,450.0
0,5.901749e+06,0.000247,1,-0.292861,1.0,9.301608e-03,NaN,NaN,NaN
2,5.946683e+01,0.000285,0,NaN,NaN,1.720564e-05,NaN,NaN,NaN
21,1.000000e-02,0.003403,0,NaN,NaN,3.167946e-02,NaN,NaN,NaN
17,1.000000e-02,0.003408,0,NaN,NaN,3.040441e-02,NaN,NaN,NaN
22,2.597951e+02,0.004690,0,NaN,NaN,8.327834e+01,NaN,NaN,NaN
18,1.000000e-02,0.005049,0,NaN,NaN,5.021922e-04,NaN,NaN,NaN
3,1.444209e-01,0.005161,0,NaN,NaN,5.825944e-08,NaN,NaN,NaN
20,1.000000e-02,0.005161,0,NaN,NaN,8.052235e-09,NaN,NaN,NaN
16,9.999724e+09,620729.596173,0,NaN,NaN,1.000000e-09,NaN,NaN,NaN
23,9.999706e+09,NaN,1,0.999998,4.0,2.356228e+02,NaN,NaN,NaN

In [15]:
conn = SQLiteConnection("sqlite:///nonlinear_second.db")
results = conn.results_as_dataframe()
results.groupby(['id']).mean().sort_values("_loss")

,C,_loss,algo,coef0,degree,gamma,learning_rate,max_depth,n_estimators
id,,,,,,,,,
2,NaN,0.000054,2,NaN,NaN,NaN,0.16,10.0,150.0
3,NaN,0.000060,2,NaN,NaN,NaN,0.24,15.0,350.0
1,NaN,0.000090,2,NaN,NaN,NaN,0.53,7.0,50.0
8,NaN,0.000107,2,NaN,NaN,NaN,0.59,18.0,250.0
0,NaN,0.000120,2,NaN,NaN,NaN,0.77,6.0,350.0
6,1.091406e+00,0.000359,1,0.236427,4.0,0.018899,NaN,NaN,NaN
7,2.624032e+08,0.003121,0,NaN,NaN,1.639142,NaN,NaN,NaN
5,4.407008e-02,0.003394,0,NaN,NaN,0.002875,NaN,NaN,NaN
4,6.990132e+07,0.005825,1,-0.525915,4.0,24.415793,NaN,NaN,NaN
9,9.585760e+08,NaN,1,0.244037,4.0,0.000009,NaN,NaN,NaN